%body
  %header
    %nav
      .row
        .container
          .logos
            %img{src: '/images/logo.png', width: '27%'}
          %ul.main-nav.js--main-nav
            %li
              %a{:href => "#features"} Food delivery
            %li
              %a{:href => "#works"} How it works
            %li
              %a{:href => "#cities"} Our cities
            %li
              %a{:href => "#plans"} Sign up
          %a.mobile-nav-icon.js--nav-icon
            %i.ion-navicon-round
    .row
      .container
        .col-md-12
          %h1.title
            Healthy, Fresh, Curated Catering.
            %br>/
            Order Catering for <strong class="changer"></strong>.
          .row.email
            .col-md-4
              %input#email{:name => "email", :placeholder => "Your email", :required => "", :type => "email"}/
          %a.btn.btn-full.js--scroll-to-plans{:href => "#"} I’m hungry

  / Features section

  %section#features.section-features.js--section-features
    .row
      .col-md-12
        %h2 Get food fast – not fast food
        %p.long-copy
          Hello, we’re Online Catering, your new premium food delivery service. We know you’re always busy. No time for cooking. So let us take care of that, we’re really good at it, we promise!
    .container.text-center
      .row
        .col-md-3
          %i.fa.fa-4x.fa-calendar
          %h3 Up to 365 days/year
          %p
            Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style.
        .col-md-3
          %i.fa.fa-4x.fa-clock-o
          %h3 Ready in 20 minutes
          %p
            You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you're 100% happy.
        .col-md-3
          %i.fa.fa-4x.fa-cart-plus
          %h3 100% Organic
          %p
            All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
        .col-md-3
          %i.fa.fa-4x.fa-check
          %h3 Order anything
          %p
            We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It's up to you.
  / Meals section
  %section.section-meals
    %ul.meals-showcase.clearfix
      %li
        %figure.meal-photo
          %img{:alt => "Korean bibimbap with egg and vegetables", :src => "/images/1.jpg"}/
      %li
        %figure.meal-photo
          %img{:alt => "Simple italian pizza with cherry tomatoes", :src => "/images/2.jpg"}/
      %li
        %figure.meal-photo
          %img{:alt => "Chicken breast steak with vegetables", :src => "/images/3.jpg"}/
      %li
        %figure.meal-photo
          %img{:alt => "Autumn pumpkin soup", :src => "/images/4.jpg"}/
    %ul.meals-showcase.clearfix
      %li
        %figure.meal-photo
          %img{:alt => "Paleo beef steak with vegetables", :src => "/images/5.jpg"}/
      %li
        %figure.meal-photo
          %img{:alt => "Healthy baguette with egg and vegetables", :src => "/images/6.jpg"}/
      %li
        %figure.meal-photo
          %img{:alt => "Burger with cheddar and bacon", :src => "/images/7.jpg"}/
      %li
        %figure.meal-photo
          %img{:alt => "Granola with cherries and strawberries", :src => "/images/8.jpg"}/
  / Steps section
  %section#works.section-steps
    .row
      %h2 How it works – Simple as 1, 2, 3
      .row
        .col-md-3
        .col-md-6
          .works-step
            %div 1
            %p Choose the subscription plan that best fits your needs and sign up today.
          .works-step
            %div 2
            %p Order your delicious meal using our mobile app or website. Or you can even call us!
          .works-step
            %div 3
            %p Enjoy your meal after less than 20 minutes. See you the next time!

  / Cities section
  %section#cities.section-cities
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-cutlery.wow.bounceIn.text-primary
          %h2 Personalized Meals
          %h3.text-muted Meals catered to your liking.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-globe.wow.bounceIn.text-primary
          %h2 Vast Selection
          %h3.text-muted Choose from cuisines from all over the world.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-clock-o.wow.bounceIn.text-primary
          %h2 Reliable Service
          %h3.text-muted We deliver daily and within 1 hour of your order.
      .col-lg-3.col-md-6.text-center
        .service-box
          %i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary
          %h2 Dietary Labelling
          %h3.text-muted We have gluten-free, kosher, halal, vegan and much more.


  / Testimonials section
  %section.section-testimonials
    .row
      %h2 Are you a caterer?
    .row
      .col-md-4
        %blockquote
          Online Catering is just awesome! I just launched a startup which leaves me with no time for cooking, so Online Catering is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
          %cite
            %img{:alt => "First customer", :src => "/images/customer-1.jpg"}/
            Alberto Duncan
      .col-md-4
        %blockquote
          Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
          %cite
            %img{:alt => "Second customer", :src => "/images/customer-2.jpg"}/
            Joana Silva
      .col-md-4
        %blockquote
          I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up with Online Catering. Best food delivery service in the Bay Area. Keep up the great work!
          %cite
            %img{:alt => "Third customer", :src => "/images/customer-3.jpg"}/
            Milton Chapman
    .row.text-center.caterer-section
      %button.btn.btn-success.caterer Become a Caterer

  .row.last
    .col-md-3
    .col-md-6
      %h1.text-center Keep in touch!
      %form.contact-form{:action => "#", :method => "post"}
        .row
          .col.span-1-of-3
            %label{:for => "name"} Name
          .col.span-2-of-3
            %input#name{:name => "name", :placeholder => "Your name", :required => "", :type => "text"}/
        .row
          .col.span-1-of-3
            %label{:for => "email"} Email
          .col.span-2-of-3
            %input#email{:name => "email", :placeholder => "Your email", :required => "", :type => "email"}/
        .row
          .col.span-1-of-3
            %label{:for => "find-us"} How did you find us?
          .col.span-2-of-3
            %select#find-us{:name => "find-us"}
              %option{:selected => "selected", :value => "friends"} Friends
              %option{:value => "search"} Search engine
              %option{:value => "ad"} Advertisement
              %option{:value => "other"} Other
        .row
          .col.span-1-of-3
            %label Newsletter
          .col.span-2-of-3
            %input#news{:checked => "checked", :name => "news", :type => "checkbox"}/
            Yes, please
        .row
          .col.span-1-of-3
            %label Drop us a line
          .col.span-2-of-3
            %textarea{:name => "message", :placeholder => "Your message"}
        .row
          .col.span-1-of-3
            %label  
          .col.span-2-of-3
            %input{:type => "submit", :value => "Send it!"}/
  %footer
    .row
      .col-md-6
        %ul.footer-nav
          %li
            %a{:href => "#"} About us
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Press

      .col-md-6
        %ul.social-links
          %li
            %a{:href => "#"}
              %i.ion-social-facebook
          %li
            %a{:href => "#"}
              %i.ion-social-twitter
          %li
            %a{:href => "#"}
              %i.ion-social-googleplus
          %l
            %a{:href => "#"}
              %i.ion-social-instagram
    .row
      %p
        Copyright © 2015 by Online Catering. All rights reserved.
