html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
  max-width: 50px;
  border-color: #f05f40;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #f05f40;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255,255,255,.7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}