!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Onlinecatering
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    / %script{src: "//load.sumome.com/", data: {"sumo-site-id": "83e44cfb6b86aff4e493fa9bfa63f8ba692ca973ddf5d85fdb664e8db4039dc9"}, async: "async" }
    = csrf_meta_tags
  %body
    = yield
